{% extends "bootstrap_5_layout.html" %}
{% set active_page = "about" %}

{% block content %}

    <h1>About Us</h1>

    <p>We are three students from Georgetown University, enrolled in Prof. Rossetti's Business App Development in Python course. This semester,
    we have learned how to build our own websites, and for our final project, we decided to help gamblers everywhere with this sports betting tool.</p>
    <p></p>
    <p>Best,</p>
    <p>The Line Shoppers</p>
    <p>Liam Grossman, Alex Botticelli, Claire Turner</p>
</p>

{% endblock %}